<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jerryyin.ideacamera">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.ICApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ICMainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ICCameraActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ICChooseActivity" />
        <activity
            android:name=".activity.ICGalleryActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ICAlbumActivity" />
        <activity android:name=".activity.ICShowPhoActivity" />
        <activity
            android:name=".activity.ICSettingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.ICModuleManagerActivity" />
        <activity android:name=".activity.ICAboutActivity" />
        <activity android:name=".activity.ICFileDirActivity" />
        <activity android:name=".activity.ICPhotoEditActivity" />
        <activity android:name=".activity.ICFileBrowserActivity" />
        <activity android:name=".activity.ICInterestingActivity"></activity>
    </application>

</manifest>